$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import '~tachyons-sass/tachyons';
@import '../../variables';
@import '../../mixins';

header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;

  h1 {
    margin: 0;
    padding: .3em 2em;
  }

  .login {
    background-color: $green;
    background-image: linear-gradient(to bottom, lighten($green, 2%), darken($green, 10%));
    border: 0;
    border-radius: 6px;
    color: $warm-white;
    font-size: 1.25em;
    padding: .5em 1em;
  }
}

.c-application {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  > .inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;

    & > .sidebar {
      @include section;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      width: 200px;

      .m-sidebar-buttons {
        flex: none;
        margin: 0 10px;

        .m-button {
          display: block;
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    & > .main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 10px;
      position: relative;

      > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  > .dialogs {
    @extend .br2;
    align-content: center;
    display: none;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $zi-dialog;

    > section {
      @extend .br3;
      @include raised;
      font-size: .9em;
      margin: auto;
      max-width: 430px;
      position: relative;

      > header {
        @extend .f3;
        @extend .br3;
        @extend .br--top;
        font-weight: bold;
        margin: 6px auto;
        padding: 15px;
        text-align: center;
      }

      > p {
        padding: 10px;
      }

      > form {
        padding: 0 10px;
      }

      > .c-dialog-close {
        @extend .br3;
        @extend .fa;
        @extend .fa-times-circle-o;
        border-radius: 6px;
        height: 10mm;
        position: absolute;
        right: 1%;
        top: 1%;
        width: 10mm;

        &:before {
          color: darken($text-warm-white, 20%);
          cursor: pointer;
          font-size: 6mm;
          height: 10mm;
          position: absolute;
          right: 0;
          text-align: right;
          top: 0;
          width: 10mm;
        }
      }


    }
  }

  &.dialogs-open {
    >.dialogs {
      display: flex;
    }

    &:after {
      backdrop-filter: blur(3px);
      background: transparentize($color-background, .4);
      content: ' ';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: $zi-dialog-backdrop;
    }
  }
}
