@import '../../variables';
@import '../../mixins';

header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;

  h1 {
    margin: 0;
    padding: .3em 2em;
  }

  .login {
    background-color: $green;
    background-image: linear-gradient(to bottom, lighten($green, 2%), darken($green, 10%));
    border: 0;
    border-radius: 6px;
    color: $warm-white;
    font-size: 1.25em;
    padding: .5em 1em;
  }
}

.c-application {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  > .inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;

    & > .sidebar {
      @include section;
      display: flex;
      flex: none;
      flex-direction: column;
      width: 200px;

      .m-sidebar-buttons {
        flex: none;
        margin: 0 10px;

        .m-button {
          display: block;
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    & > .main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 10px;
      position: relative;

      > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }
}
