{
  "presets": [ "react", "env"],
  "plugins": [
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
