@import '../../variables';
@import '../../mixins';

$author-width: 5.5em;

.c-chat {
  @include section;
  backdrop-filter: blur(3px) brightness(18%);
  // background-image: url('/img/wine-cork.png');
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.05rem;
  line-height: 1.15em;
  position: relative;

  > .messages {
    @include unlistify;

    background-image: linear-gradient(to right, $primary 50px, transparent 100%);
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    z-index: $zi-chat;

    > li {
      display: flex;

      &:first-of-type {
        > .author,
        > .message {
          padding-top: .5em;
        }
      }

      .author {
        /* background: lighten($primary, .05%); */
        border-right: 2px solid lighten($primary, 15%);
        box-sizing: border-box;
        flex: 0 0 12em;
        font-size: .75em;
        min-width: $author-width;
        padding: 0 5px;
        text-align: right;

        @media screen and ( max-width: 600px ) {
          flex-basis: 5.5em;
        }

      }

      .message {
        flex-grow: 1;
        margin-bottom: .66em;
        padding-left: 5px;
      }
    }
  }

  > form {
    z-index: $zi-chat;

    .m-textbox {
      background: $color-background;

      input {
        padding: 7px 5px 5px;
      }
    }
  }
}
