@import '../../variables';
@import '../../mixins';

$author-width: 5.5em;

.c-chat {
  @include section;
  backdrop-filter: blur(3px) brightness(18%);
  background-image: url('/img/wine-cork.png');
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.3rem;
  line-height: 1.3em;
  position: relative;

  > .messages {
    @include unlistify;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    z-index: $zi-chat;

    > li {
      display: flex;

      &:first-of-type {
        > .author, > .message {
          padding-top: .5em;
        }
      }

      .author {
        background: lighten($primary, .05%);
        border-right: 2px solid lighten($primary, 15%);
        box-sizing: border-box;
        min-width: $author-width;
        padding-right: 5px;
        text-align: right;
      }

      .message {
        margin-bottom: 1.33em;
        padding-left: 5px;
      }
    }
  }

  > form {
    z-index: $zi-chat;

    .m-textbox {
      background: $color-background;

      input {
        padding: 7px 5px 5px;
      }
    }
  }
}
