@import "../../variables";
@import "../../mixins";


.c-game {
  display: flex;
  flex-direction: column;

  .notice {
    display: flex;
    flex-grow: 1;
    font-weight: bold;

    p {
      align-self: center;
      flex-grow: 1;
      text-align: center;
    }
  }

  .c-chat {
    flex: none;
    height: 200px;
  }
}

.c-game-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.c-player-list {
  @include unlistify;
  border-top: 1px solid $color-section-border;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;

  > li {
    backdrop-filter: blur(16px);
    border-bottom: 1px solid $color-section-border;
    display: flex;
    padding: 5px 10px;
    transition: background $default-transition;

    .details {
      flex-grow: 1;

      .name {
        font-weight: bold;
        margin-bottom: 5px;

        @media screen and ( max-width: 600px ) {
          max-width: 60px;
          word-break: break-word;
        }
      }
    }

    .status {
      align-self: center;
    }

    &.is-czar .status {
      font-weight: bold;
    }

    &.is-playing .status {
      background-image: radial-gradient(circle at center center, #c25000 30%, #b4411c 60%, #FF9800, #FFC107 100%);
      background-image: radial-gradient(circle at center center, #c2500099 30%, #b4411c99 60%, #FF980099, #FFC10799 100%);
      border-radius: 40%;
      font-size: .7em;
      font-style: italic;
      padding: 1.5em .5em;
    }

    &.is-winner {
      background: $color-good;
      border: 0;
      color: $color-good-text;
      margin-bottom: 1px;
    }
  }

  @media screen and ( max-width: 600px ) {
    font-size: small;
  }
}
