@import '../../variables';

header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  padding: .3em;

  .icon {
    max-height: 1.5em;
    max-width: 1.5em;
  }

  h1 {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 .5em;
  }

  .login {
    background-color: $green;
    background-image: linear-gradient(to bottom, lighten($green, 2%), darken($green, 10%));
    border: 0;
    border-radius: 6px;
    color: $warm-white;
    font-size: 1.25em;
    padding: .5em 1em;
  }
}
