@import '~tachyons-sass/tachyons';
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darken($primary, 6%);
  // background-image: url('/img/tileable-wood.png');
  background-size: 100%;
  color: $warm-white;
  display: flex;
  font-family: $sans-serif;
  justify-content: center;
}

#mount { // sass-lint:disable-line no-ids
  display: block;
  width: 100%;
}

.small {
  font-size: small;
}

.m-button {
  @extend .link;
  @extend .br2;
  @extend .ph3;
  @extend .pv2;
  @extend .mb2;
  @extend .dib;
  @extend .bg-purple;
  @extend .white;

  //background: $color-neutral;
  //border: 0;
  //border-radius: $radius;
  //box-sizing: border-box;
  //color: $color-neutral-text;
  cursor: pointer;
  //display: inline-block;
  //margin: 0;
  //outline: 0;
  //padding: 5px 8px;
  //text-align: left;
  //text-decoration: 0;
  transition: background 700ms $default-cubic;

  &:hover {
    @extend .bg-dark-red;
  }

  &.primary {
    @extend .bg-dark-blue;
    @extend .white;
    @extend .b--blue;
    //background: $color-primary;
    //color: $color-primary-text;

    &:hover {
      @extend .bg-blue;
    }
  }

  &.good {
    @extend .bg-dark-green;
    @extend .white;
    @extend .b--green;

    &:hover {
      background: lighten($color-good, 10%);
    }
  }

  &[disabled],
  &[disabled]:hover { // sass-lint:disable-line force-pseudo-nesting
    @extend .b--black-30;
    background: lighten($color-neutral, 5%);
    color: lighten($color-neutral-text, 50%);
    cursor: default;
  }
}

.bg-white {
  @extend .black;
}

.bg-black {
  color: $text-warm-white;
}

.error {
  @extend .dark-red;
  @extend .bg-washed-red;
  @extend .br2;
  @extend .ba;
  margin: 15px;
  padding: 1em;
}
