$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darken($warm-gray, 6%);
  color: $warm-white;
}

#mount {
  height: 100%;
}

.m-button {
  background: $color-neutral;
  border: 0;
  border-radius: $radius;
  box-sizing: border-box;
  color: $color-neutral-text;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: 0;
  padding: 5px 8px;
  text-align: left;
  text-decoration: 0;
  transition: background 700ms $default-cubic;

  &[disabled],
  &[disabled]:hover {
    background: lighten($color-neutral, 5%);
    color: lighten($color-neutral-text, 50%);
    cursor: default;
  }

  &:hover {
    background: darken($color-neutral, 10%);
  }

  &.primary {
    background: $color-primary;
    color: $color-primary-text;

    &:hover {
      background: lighten($color-primary, 10%);
    }
  }

  &.good {
    background: $color-good;
    color: $color-good-text;

    &:hover {
      background: lighten($color-good, 10%);
    }
  }
}
